*{
    margin:0;
    padding:0;
    font-size: 1rem;
}

@font-face {
    font-family: logo-font;
    src: url('Norse-Bold.otf');
}

body {
    background-image: url('images/background.png');
     
}
.container {
  display: flex;
  flex-wrap: nowrap;
}

.logo-container {
     margin-top: 20vh;
     position: relative;
}



.logo {
    background: rgba(0,0,0,0.2);
    width: 45vw;
    padding: 20px;
    height: 10vh;
}

.odin-logo {
    height: 13vh;
    position: absolute;
    top: 1vh;
    left: 15vw;
}

.odin_font{
    font-family: logo-font, monospace;
    font-size: 6em;
    color: white;
   position: absolute;
   top: 3vh;
   right: 12vw;
}

.form-container {
    margin-top: 0vh;
    padding-left: 5vw;
    margin-bottom: 0;
    width: 60vw;
    height: 100vh;
    height: auto;
    background-color: rgb(247, 241, 241);
    color: black(255, 255, 255);
}

.text {
    margin-top: 20vh;
}

.form_grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.form_grid > div {
        padding: 5px;
}

i {
    font-size: 1em;
}

input {
    width: 20vw;
    border-radius: 5px;
}

#last_name:hover {
    border: solid 2px rgb(31, 135, 204);
}

p {
    line-height: 1.5em;
    font-size: 2em;
}

.you{
    margin-top: 1.5em;
}

.form {
    margin-top: 6em;
}

label {
    font-size: 1.1em;
}

button {
    margin-top: 40px;
    margin-left: 5px;
    margin-bottom: 2em;
    color: white;
    background-color: rgb(14, 90, 43);
    width: 10em;
    height: 2em;
    border-radius: 5px;
    box-shadow: none;
}

button:hover {
    background-color: green;
        box-shadow: none;


}

.account {
    font-size: 1.2em;
    margin-bottom: 10vh;
}

a {
    font-size: 1em;
    font-family: logo-font, monospace;
    color: green;
}

a:hover {
    color: orange;
}

input:required {
  border-color: #ec0b0b;
  border-width: 3px;
}